footer{
       background-color: white;
       position: sticky;
       bottom: 0;
       width: 100%;
    }
footer p {
            text-align: center;
            padding: 10px 0;
        }
footer a{
    background: inherit;
    border: 0;
    text-decoration: underline;
    color: blue;
    font-size: 14px;
}
a:hover{
    color: rgb(82, 82, 255);
}