@font-face {
    font-family: "Playfair Display";
    src:
      url("../../fonts/Playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf"),
      url("../../fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "Roboto";
    src:
      url("../../fonts/Roboto/RobotoMono-Italic-VariableFont_wght.ttf"),
      url("../../fonts/Roboto/RobotoMono-VariableFont_wght.ttf");
  }

.title-hiden{
    position: absolute;
    left:-10000px;
    overflow:hidden;
}
.title{font-family:"Playfair Display", serif; font-style: italic;}
p{margin: 0;}
body{ 
      
      font-family: 'Roboto Mono', monospace; 
      font-size: 18px;
       line-height: 1.8;
    height: 100%;
    }
    .container{
        max-width: 1460px;
          box-sizing: border-box; 
          padding: 0 10px; 
          margin: 0 auto;
    }
 Chrome, Safari, Edge, Opera,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 Firefox *
input[type=number] {
  -moz-appearance: textfield;
}
@media (max-width:1220px){
.main{
    flex-wrap: wrap;
}
}
@media (max-width:880px){
    .descriptionBook_part1{
        flex-direction: column;
        gap: 60px;
        align-items: center;
    }
    .ord{text-align: center;}
    .order_desc_text_chapter{font-weight: 400; font-family: 'Playfair Display', serif; font-size: 1.3rem; margin-left:0px; text-transform: uppercase; font-style: italic;}
    }

.main{
display: flex;
justify-content: space-around;
gap: 20px;

}

.descriptionBook{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.descriptionBook_part1{
    display: flex;
    justify-content: flex-start;
    
    gap: 60px;
}


.desc_img{
    border: 10px groove rgb(129, 137, 252);
    
    padding: 25px 65px;
    border-radius: 25px;
    background-color: rgb(206, 223, 255);
}
.desc_img img{
    box-shadow: 15px 10px 0px 1px rgb(229, 228, 223),25px 15px 0px 1px rgb(251, 253, 253);;
    border-radius: 2%;
    transform: translateX(-15px);
}
.order_desc_text_title{font-weight: 600; font-family: 'Playfair Display', serif; font-size: 1.3rem;}
@media (min-width:880px){
    .order_desc_text_chapter{font-weight: 400; font-family: 'Playfair Display', serif; font-size: 1.3rem; margin-left:80px; text-transform: uppercase; font-style: italic;}
    }
    @media (max-width:380px){
        .desc_img{
            
            padding: 25px;
            
        }
    }


/* -----------------------------------------orderBlock----------------------------------- */
.setPlaceArrow{
    position: relative;
}
.orderBlock{border:2px solid black; align-items: center; width: 320px; height:fit-content; position: relative; padding: 10px; border-radius: 10px; user-select:none;}
.orderContainer{width: 320px;
    height: fit-content;}
.orderBtn{font-weight: 600; text-align: center; padding: 5px 10px; border:1px solid black; border-radius: 5px; position: absolute; bottom: 10px; right: 15px;}
.orderBtn:hover{background-color: black; color: white;}
input.inputView{border:1px solid black; width: 50px; height: 25px; border-radius: 10px;text-align: center;}
.orderDescription{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.orderDescription *{

align-self:center;
}
.oneBook{
    margin-bottom: 30px;
}
.totalBook{
    margin: 30px 0 60px 0;
}

.navPriceBtn{
    position: absolute;
    cursor: pointer;
    right: 0px;
    opacity: 1;
} 

#navPriceBtnMax{
top: -35px;

}

#navPriceBtnMin{
    bottom: -45px;
    }
.descriptionBook_part2 .order_desc_text_chapter{
    text-transform: lowercase;
    font-style: normal;
    text-align:justify;
}
@media (max-width:460px) {
    .orderContainer{width: calc(180px + 140 * (100vw - 220px) / 460); margin: 0 auto;}
}
